.slider {
	padding-top: 97px;
	max-width: 1172px;
	height: 448px;
	position: relative;
	width:100%
	/* align-content: center; */;
}

.prev-btn, .next-btn {
	background-color:none;
	position: absolute;
	right: 97%;
	top: 56%;
	transform: translateY(-50%);
	z-index: 5;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
	background-image: url('img/arrow.png');
	background-repeat: no-repeat;
	background-color:inherit;
	outline: none;
	padding: 30px 30px;
	border-radius:30px;
	border: none;
}

.next-btn {
	transform: rotate(180deg);
	left: auto;
	left: 97%;
	top: 48%;
}

.swiper-pagination {
    opacity: 0;
    visibility: hidden;
}

.swiper-slide {
	max-width:100%;
}

a {
    display: block;
    /* width: 30px; */
    /* height: 30px; */
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-slide__items {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

}




@media  (max-width: 1024px) {
    .swiper-pagination {
        opacity: 1;
        visibility: visible;
    }

    .next-btn,
    .prev-btn {
        display: none;
    }

.slider {
	height: 630px;
	
}

.swiper-container {
 height: 540px;
 }

 .slider__img {
	 width: 100%;
	}

}

 @media (max-width:768px) and (min-width:576px) {

 .next-btn,
    .prev-btn {
        display: none;
    }

    .swiper-pagination {
        opacity: 1;
        visibility: visible;
    }

 	.slider {
 		width: 60%;
 		margin-top: 10px;
 		height: 450px;
 	}
 }

@media (max-width:576px) and (min-width:320px) {

.slider {
	width:95%;
	height: 357px;
	margin-top:00px;
	padding-top: 40px;
} 

.swiper-container 	{
	height: 356px;
}

 .next-btn,
    .prev-btn {
        display: none;
    }

    .swiper-pagination {
        opacity: 1;
        visibility: visible;
    }

   

 .swiper-pagination-bullet {
 	margin:0 7px;
 	width: 10px;
 	height: 10px;
 }

 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 9px;
}


}
/*@media (max-width:320px) {

.slider {
	width:95%;
	height: 357px;
	margin-top:00px;
} 

.swiper-slide {
	max-width: 100%;
	display: flex;
	justify-content: center;
}

 .next-btn,
    .prev-btn {
        display: none;
    }

    .swiper-pagination {
        opacity: 1;
        visibility: visible;
    }

    .swiper-container {
 height: 357px;
 }

 .swiper-pagination-bullet {
 	margin:0 7px;
 	width: 10px;
 	height: 10px;
 }

 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 9px;
}

}